:root {
  --custom-main-color: #5801FF;
  --custom-secondary-color: #FFD600;
  --custom-background-color: #15161F;
  --custom-secondary-background-color: #0C0B0C;
  --custom-foreground-color: #56505C;
  --custom-selection-color: #595959;
  --custom-border-color: #56505C;
}
