@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

#quarto-content>*{
  padding-top: 0px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.manta-title .inside {
  font-family: Pixelify Sans;
  /* font-weight: bold; */
  background-image: linear-gradient(
    -225deg,
    #E1E1E1 0%,
    #5801FF 29%,
    #FF1361 67%,
    #FFD600 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite alternate;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 100% center;
  }
}
