@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}


:root {
	--d: 2000ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: #5801FF;
	--c2: #15161F;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

.manta-title .outside{
  box-sizing: border-box;
  background: #15161F;
  /* border-radius: 10px; */
  /* border: 2px solid $main-color; */
  border: 0.3rem solid;
	padding: 1vw;

	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}
