@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/* Common properties {{{ */

#quarto-content>* {
  padding-top: 2rem;
}

li {
  text-align: justify;
}

section>p {
  text-align: center;
}

/* h1,
h2,
h3 {
  margin: 3rem 0;
} */

/* }}} */

/* Animations {{{ */

@keyframes textclip {
  to {
    background-position: 100% center;
  }
}

@keyframes communication {
  0% {
    filter: brightness(0) saturate(100%) invert(9%) sepia(95%) saturate(7492%) hue-rotate(265deg) brightness(105%) contrast(130%);
    transform: translateX(0%);
  }

  49% {
    filter: brightness(0) saturate(100%) invert(9%) sepia(95%) saturate(7492%) hue-rotate(265deg) brightness(105%) contrast(130%);
    transform: translateX(600%);
    visibility: hidden;
  }

  50% {
    visibility: hidden;
    filter: brightness(0) saturate(100%) invert(88%) sepia(63%) saturate(7500%) hue-rotate(345deg) brightness(95%) contrast(110%);
    transform: translate(600%, 200%);
  }

  51% {
    visibility: none;
    filter: brightness(0) saturate(100%) invert(88%) sepia(63%) saturate(7500%) hue-rotate(345deg) brightness(95%) contrast(110%);
    transform: translate(600%, 200%);
  }

  100% {
    filter: brightness(0) saturate(100%) invert(88%) sepia(63%) saturate(7500%) hue-rotate(345deg) brightness(95%) contrast(110%);
    transform: translate(0%, 200%);
  }
}

@keyframes collaboration {
  0% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(10%);
  }
}

/* }}} */

/* Properties {{{ */

.pixels {
  position: absolute;
}

.manta-title {
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1.5rem;
}

.manta-subtitle {
  font-size: 10rem;
  text-align: center;
  vertical-align: middle;
}

.manta-title .inside {
  font-family: Pixelify Sans;
  /* font-weight: bold; */
  background-image: linear-gradient(-225deg,
      #E1E1E1 0%,
      #5801FF 29%,
      #FF1361 67%,
      #FFD600 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite alternate;
  display: inline-block;
}

.grid-content-1 {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.grid-content-2 {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.content-block {
  max-width: 1280px;
}

.content-animation {
  overflow: hidden;
  position: relative;
}

.overview {
  overflow: hidden;
  width: 100%;
  text-align: center;
  position: relative;
}

.overview>p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact {
  margin-top: 3rem;
}

#overview {
  width: 80%;
}

#make-ai {
  width: 60%;
}

#gear {
  width: 7%;
  filter: invert();
  position: absolute;
  top: 53.5%;
  left: 20%;
}

#earth {
  width: 7%;
  filter: invert();
  position: absolute;
  top: 40%;
  left: 50%;
}

#neural-network {
  position: absolute;
  width: 5.6%;
  top: 10%;
  left: 30%;
  animation: communication 8s infinite forwards;
}

#handshake {
  position: absolute;
  width: 10%;
  top: 30%;
  left: 45%;
  animation: collaboration 1s ease-in-out infinite alternate;
}

/* .grid-item {
  background: #252737;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 1rem;
  flex: 1;
} */

/* }}} */

/* Media specifications {{{ */

@media (min-width: 960px) {
  .manta-title {
    font-size: 2.25rem;
  }

  .manta-subtitle {
    font-size: 1.15rem;
  }

  .manta-title .inside {
    display: initial;
  }

  .overview {
    max-width: 840px;
  }

  .paragraph {
    max-width: 30%;
  }

  .img-fluid {
    max-width: none;
  }

  #make-ai {
    width: initial;
  }
}

/* }}} */