@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/* Common properties {{{ */

#quarto-content>* {
  padding-top: 2rem;
}

li {
  text-align: justify;
}

section>p {
  text-align: center;
}

/* }}} */

/* Animations {{{ */

@keyframes textclip {
  to {
    background-position: 100% center;
  }
}

@keyframes communication-left-to-right {
  0% {
    transform: translateX(0%);
  }

  49% {
    transform: translateX(400%);
    visibility: hidden;
  }

  50% {
    visibility: hidden;
    transform: translate(400%, 150%);
  }

  51% {
    visibility: hidden;
    transform: translate(400%, 150%);
  }

  100% {
    visibility: hidden;
    transform: translate(0%, 150%);
  }
}

@keyframes communication-right-to-left {
  0% {
    visibility: hidden;
    transform: translateX(0%);
  }

  49% {
    transform: translateX(400%);
    visibility: hidden;
  }

  50% {
    visibility: hidden;
    transform: translate(400%, 150%);
  }

  51% {
    visibility: none;
    transform: translate(400%, 150%);
  }

  100% {
    transform: translate(0%, 150%);
  }
}

@keyframes collaboration {
  0% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(10%);
  }
}

/* }}} */

/* Properties {{{ */

.pixels {
  position: absolute;
}

.manta-title {
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
}

.manta-subtitle {
  font-size: 10rem;
  text-align: center;
  vertical-align: middle;
}

.manta-title .inside {
  font-family: Pixelify Sans;
  /* font-weight: bold; */
  background-image: linear-gradient(-225deg,
      #E1E1E1 0%,
      #5801FF 29%,
      #FF1361 67%,
      #FFD400 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite alternate;
  display: inline-block;
}

.content-block {
  max-width: 1280px;
}

.content-animation {
  overflow: hidden;
  position: relative;
}

.overview {
  overflow: hidden;
  width: 100%;
  text-align: center;
  position: relative;
}

.overview>p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact {
  margin-top: 3rem;
}

#overview {
  width: 80%;
}

#make-ai {
  width: 60%;
}

#gear {
  width: 7%;
  filter: invert();
  position: absolute;
  top: 53.5%;
  left: 20%;
}

#earth {
  width: 7%;
  filter: invert();
  position: absolute;
  top: 40%;
  left: 50%;
}

#logo-connected {
  position: absolute;
  width: 10%;
  top: 6%;
  left: 25%;
  animation: communication-left-to-right 8s infinite forwards;
}

#logo-connected-reverse {
  position: absolute;
  width: 10%;
  top: 6%;
  left: 25%;
  animation: communication-right-to-left 8s infinite forwards;
}

#handshake {
  position: absolute;
  width: 10%;
  top: 30%;
  left: 45%;
  animation: collaboration 1s ease-in-out infinite alternate;
}

/* }}} */

/* Media specifications {{{ */

@media (min-width: 960px) {
  .manta-title {
    font-size: 2.25rem;
  }

  .manta-subtitle {
    font-size: 1.15rem;
  }

  .manta-title .inside {
    display: initial;
  }

  .overview {
    max-width: 840px;
  }

  .paragraph {
    max-width: 30%;
  }

  .img-fluid {
    max-width: none;
  }

  #make-ai {
    width: initial;
  }

  #silos {
    max-width: 26rem;
  }
}

@media (max-width: 960px) {
  .title > section > h3 {
    margin: 1rem;
  }
}

/* }}} */
