/*-- scss:defaults --*/

// Default values {{{

@font-face {
  font-family: Tailwind;
  font-weight: normal;
  src: url("static/fonts/Tailwind Regular.ttf");
}

@font-face {
  font-family: "Tailwind Bold";
  font-weight: bold;
  src: url("static/fonts/Tailwind Black.ttf");
}

$manta-purple: #5801FF;
$manta-yellow: #FFD600;
$manta-dark: #15161F;
$manta-light: #2527376e;
$manta-black: #0C0B0C;
$manta-white: #E1E1E1;
$manta-grey1: #56505c34;
$manta-grey2: #adddcf;
$manta-grey3: #56505C;

$body-bg: $manta-dark;
$body-color: $manta-white;

// $navbar-bg:    $manta-purple;

// }}}

/*-- scss:rules --*/

// Common properties {{{

h1,
h2,
h3,
h4 {
  color: $manta-white;
  margin: 3rem 0;
}

.navbar {
  background: rgba(21, 22, 31, 0.75);
  backdrop-filter: blur(5px);
}

nav .navbar-nav .nav-item .active {
  color: $manta-yellow;
}

span.navbar-title {
  font-size: 1.3em;
}

/// }}}

// Properties {{{

.light-section {
  background: linear-gradient(0deg, rgba(27, 0, 79, 1) 0%, rgba(21, 22, 31, 1) 100%);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;

  h2 {
    border: none;
  }
}

.dark-section {
  background: linear-gradient(0deg, rgba(21, 22, 31, 1) 0%, rgba(27, 0, 79, 1) 100%);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;

  h2 {
    border: none;
  }

  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.distribute {
  display: flex !important;
  position: relative;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background: linear-gradient(0deg, rgba(27, 0, 79, 1) 0%, rgba(21, 22, 31, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 7rem;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
}

@for $nb-columns from 1 through 3 {
  .grid-content-#{$nb-columns} {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat($nb-columns, 1fr);
    grid-gap: 30px;
  }
}

.content-embedded {
  background: $manta-grey1;
  border: 1px solid $manta-grey2;
  border-radius: 1rem;
  margin: 4rem;
  padding: 4rem;
}

.grid-item {
  background: $manta-light;
  padding: 2rem;
  border: 1px solid $manta-white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;

  h2 {
    border: none;
  }
}

.flex-always-column {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

[rel="contact-us"] {
  font-size: 1.2em;
  border-radius: 10rem !important;
  color: $manta-purple;
  background: $manta-yellow;
  border: 1px solid $manta-white;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 2rem !important;
}

.contact-us {
  font-size: 1.15rem;
  background: $manta-yellow;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.contact-us>p>a {
  color: $manta-purple;
  text-decoration: none;
  font-weight: bold;
}

.contact-us>p {
  margin: 0;
}

/// }}}

// Media specifications {{{

@media (min-width: 960px) {
  .header {
    padding: 2rem 0;
  }

  .expressions>p {
    flex-direction: row;
  }

  .distribute {
    padding: 0 2rem;
    max-width: 1280px;
  }

  .flex {
    flex-direction: row;
  }

  @for $nb-columns from 1 through 3 {
    .grid-content-#{$nb-columns} {
      display: grid;
      max-width: 1280px;
    }
  }
}

/// }}}