/*-- scss:defaults --*/

// Default values {{{

@font-face {
  font-family: Tailwind;
  font-weight: normal;
  src: url("static/fonts/Tailwind Regular.ttf");
}

@font-face {
  font-family: "Tailwind Bold";
  font-weight: bold;
  src: url("static/fonts/Tailwind Black.ttf");
}

$main-color : #5801FF;
$secondary-color: #FFD600;
$background-color: #15161F;
$secondary-background-color: #0C0B0C;
$text-color: #E1E1E1;
$foreground-color: #56505C;
$selection-color: #595959;
$border-color: #56505C;

$body-bg : $background-color;
$body-color: $text-color;

// }}}

// $navbar-bg: $main-color;

/*-- scss:rules --*/

// Common properties {{{

h1,
h2,
h3,
h4 {
  color: $text-color;
  margin: 3rem 0;
}

.navbar {
  background: rgba(21, 22, 31, 0.75);
  backdrop-filter: blur(5px);
}

nav .navbar-nav .nav-item .active {
  color: #FFD600; // Use your own color here
  // background-color: #yourBackgroundColor; // Use your own background color here
  // border-bottom: 2px solid #yourBorderColor; // Use your own border color here
}

span.navbar-title {
  font-size: 1.3em;
}

/// }}}

// Properties {{{

.light-section {
  background: linear-gradient(0deg, rgba(27, 0, 79, 1) 0%, rgba(21, 22, 31, 1) 100%);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
}

h2 {
  border: none;
}

// .light-section h2 {
//   border: none;
// }

.dark-section {
  // background: $background-color;
  background: linear-gradient(0deg, rgba(21, 22, 31, 1) 0%, rgba(27, 0, 79, 1) 100%);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
}

// .dark-section h2 {
//   border: none;
// }

.distribute {
  display: flex !important;
  position: relative;
  z-index: 1;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.header {
  background: linear-gradient(0deg, rgba(27, 0, 79, 1) 0%, rgba(21, 22, 31, 1) 100%);
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex !important;
  flex-direction: column;
  text-align: center;
  gap: 7rem;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
}

.grid-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  // grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

@media (min-width: 960px) {
  .grid-content {
    display: grid;
  }
}

.grid-item {
  background: #252737;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 1rem;
  // flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.flex-always-column {
  display: flex !important;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

[rel="contact-us"] {
  font-size: 1.2em;
  border-radius: 30px !important;
  color: $main-color;
  background: $secondary-color;
  border: 1px solid $text-color;
  font-weight: bold;
  padding: 0.5rem 2rem !important;
}

.contact-us {
  font-size: 1.15rem;
  background: $secondary-color;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.contact-us>p>a {
  color: $main-color;
  text-decoration: none;
  font-weight: bold;
}

.contact-us>p {
  margin: 0;
}

/// }}}

// Media specifications {{{

@media (min-width: 960px) {
  .expressions>p {
    flex-direction: row;
  }

  .distribute {
    padding: 0 2rem;
    max-width: 1280px;
  }

  .flex {
    flex-direction: row;
  }
}

/// }}}